<ng-template [ngIf]="carga">
    <ng-template [ngIf]="!box">
        <iframe #iframe class="chatFrame"  width="531" height="700" [src]="cleanURL()" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </ng-template>
    <ng-template [ngIf]="box">
        <iframe  [src]="cleanURL()" class="chatFrameBox" border="0" bordercolor="#000000" hspace="0" scrolling="no" vspace="0"  frameborder="0"></iframe>
    </ng-template>

</ng-template>
<ng-template [ngIf]="!carga">  
    <div style="text-align: center;">
        <span class="mensaje">001. El servicio temporalmente no se encuentra disponible.</span>
    </div>
</ng-template>