/*#frame {
    position: relative;
    height: 700px;
    width: 100%;
    border: 0;
    background-color: #fff;
}*/

.container-fluid {
    padding: 0;
    width: 400px;
}

iframe .lightbox-innerwrap-02 .contenedor-chat {
    max-width: 365px !important;
}

iframe .lightbox-innerwrap-02{
    max-width: 365px !important;
}

.chatFrame{
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

.chatFrameBox{
    height: 580px;
    width: 100% 
}
.mensaje{
    font-family: "MovistarHeadlineRegular";
    margin: auto;
}