<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    Mantenedor Chat Genesys
  </div>
  <!-- Default to the left
  <strong>Copyright &copy; 2016 <a>Company</a>.</strong> All rights reserved. -->
</footer>
