page-asistencia {
  p{
    display:inline;
  }
  .label {
    background-color: white;
    color: white;
    background-color: white;
    color: #5e5e5e;
    font-size: 12px;
    font-weight: 500;
    padding: 3px;
    text-shadow: none;
  }
  .label-success, .badge-success {
    background-color: #1c84c6;
    color: #fff;
    border-radius: 3px;
  }
  .label-success2{
    background-color: color($colors, celeste);
    color: #fff;
    border-radius: 3px;
  }
  .label-primary, .badge-primary {
    background-color: #1ab394;
    color: #fff;
    border-radius: 3px;
  }
  .listheader{
    padding: 0px;
    margin-bottom: 0px;
    border-top: none;
  }

  .item-block{
    padding-left: 0px;
    height: 35px !important;
  }
  .item-inner{
    padding: 0px!important;
  }
  .hora{
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
  }
  .badge {
    background-color: color($colors, primary);
    border-radius: 5px;
    margin: 0px !important;
  }
// range
  .range{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .range-ios.range-disabled{
    opacity: 1!important;
  }

  .range-disabled .range-bar-active {
    background-color: red !important;
  }
  .range-knob {
    background-color: red !important;
    opacity: 0.0;
  }
  .range-bar{
    height: 6px!important;
  }
  .range-slider{
    margin-bottom:  6px!important;
  }
  .range-knob-handle {
    text-align: center;
    position: absolute;
    top: 21px;
    left: 0;
    margin-top: -21px;
    margin-left: -21px;
    width: 42px;
    height: 42px;
  }
  .range-ios .range-knob {
    top: 16px !important;
    left: 16px !important;
    width: 10px !important;
    height: 10px !important;
  }
  .range-wp .range-knob {
    top: 17px !important;
    height: 10px !important;
    width: 10px !important;
  }
//end range
//toolbar
  .toolbar2 span{
    //background: #1c84c6 !important;
    color: white !important;
  }
  .toolbar2 div{
    background: #1c84c6 !important;
  }
  ion-toolbar ion-label{
    background: #1c84c6 !important;
    color: #fff !important;
    font-size: 14px !important;
  }
  ion-toolbar .item{
    background: #1c84c6 !important;
    font-size: 14px !important;
  }
//end toolbar

////////////////select
  ion-select {
    max-width: 80% !important;
    color: #fff !important;
    padding-left: 0px !important;
    -webkit-flex: auto !important;
  }
  .select-wp {
    border: none;
  }
  .select-wp .select-icon {
    color:white;
  }
  .select-md .select-icon .select-icon-inner  {
    color: white !important;
  }
  .select-ios .select-icon .select-icon-inner  {
    color: white !important;
  }
  .select-wp .select-icon .select-icon-inner  {
    color: white !important;
  }
  /////// end select

  //botones
  .ion-button{
    width: auto;
    margin: 0 auto;
  }
  button-md-primary.activated{
    background-color: #ddd !important;
  }
  button{
    margin-top: 0px !important;
  }
  .botonReservar{
    width: 60%;
    margin:auto;
    //display:block;
  }
  .desactivado{
    opacity: .4 !important;
  }
  //end botones

  .blanco-bg{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }
  .icon1{
    float:left;
    font-size: 300% !important;
  }

  .list{
    margin-bottom: 0px !important;
  }

  .yellow-bg p {
    color:white;
    font-weight: 500;
    font-size: 15px;
  }

  .widget a {
    color: #337ab7;
  }

progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{

	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	/* Needs to be in here for Safari polyfill so background images work as expected. */
	background-size: auto;
  border-radius: 2px;
  width: 85%;
  height: 7px;
}
progress[value]::-webkit-progress-bar {
  background-color:#D4D0D0;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-moz-progress-bar{
    background-color: black;
}

progress::-webkit-progress-value{
    background-color: black;
}

progress[value^="0"]::-webkit-progress-value,
progress[value^="1"]::-webkit-progress-value,
progress[value^="2"]::-webkit-progress-value,
progress[value^="3"]::-webkit-progress-value,
progress[value^="4"]::-webkit-progress-value,
progress[value^="5"]::-webkit-progress-value{
   background-color: #1ab394;
}

progress[value^="6"]::-webkit-progress-value,
progress[value^="7"]::-webkit-progress-value,
progress[value^="8"]::-webkit-progress-value,
progress[value^="9"]::-webkit-progress-value{
  background-color: #f8ac59;
}

progress[value^="100"]::-webkit-progress-value,
progress[value^="110"]::-webkit-progress-value,
progress[value^="120"]::-webkit-progress-value,
progress[value^="130"]::-webkit-progress-value{
	background-color:#ed5565;
}


progress[value^="0"]::-moz-progress-bar,
progress[value^="1"]::-moz-progress-bar,
progress[value^="2"]::-moz-progress-bar,
progress[value^="3"]::-moz-progress-bar,
progress[value^="4"]::-moz-progress-bar,
progress[value^="5"]::-moz-progress-bar{
   background-color: #1ab394;
}

progress[value^="6"]::-moz-progress-bar,
progress[value^="7"]::-moz-progress-bar,
progress[value^="8"]::-moz-progress-bar,
progress[value^="9"]::-moz-progress-bar{
	background-color:#f8ac59;
}

progress[value^="100"]::-moz-progress-bar,
progress[value^="110"]::-moz-progress-bar,
progress[value^="120"]::-moz-progress-bar,
progress[value^="130"]::-moz-progress-bar{
	background-color:#ed5565;
}


}
