<!--
  Generated template for the AsistenciaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Asistencia</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="recargar()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar class="toolbar2">
    <!--<ion-title >Halterofilia</ion-title>-->

    <ion-list no-lines>
      <ion-item style=" padding-left: 16px" >
      <ion-label hidden>Selecciona:</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="actividad" (ionChange)="logChosen()">
        <ion-option *ngFor="let ac of fechasActividades" [value]="ac">{{ac.nombre}}</ion-option>
      </ion-select>
      <ion-select  class="selector"  interface="action-sheet" [(ngModel)]="fecha" (ionChange)="dateChosen()" >
        <ion-option *ngFor="let fe of fechas" [value]="fe.timeStamp">{{fe.diaS}} {{fe.dia}}</ion-option>
      </ion-select>
     </ion-item>
  </ion-list>
  </ion-toolbar>
</ion-header>


<ion-content padding class="boddy">

  <div class="widget yellow-bg" id="wid1" *ngIf="datafechas">
    <ion-icon class="icon1" name="md-alert"></ion-icon>
    <p class="font-bold widgetp">&nbsp;&nbsp;No hay fechas disponibles <br><br> </p>
    <br>
  </div>

  <div class="widget red-bg" id="wid1" *ngIf="!tieneAccesos">
    <ion-icon class="icon1" name="md-alert"></ion-icon>
    <p class="font-bold widgetp">&nbsp;&nbsp;No hay actividades disponibles para realizar una reserva. <br><br> </p>
    <br>
  </div>

<ng-template [ngIf]="dataAsistencia">

  <ng-template [ngIf]="!pagoActivo">
    <div align="center" class="widget red-bg" *ngFor="let p of pagos">
      <ion-icon class="icon1" color="blanco" name="ios-sad"></ion-icon>
      <span > No tienes ningún pago activo, o este se encuentra vencido </span>
      <br><br>
    </div>
  </ng-template>

  <ng-template [ngIf]="pagoActivo">
    <div align="center" class="widget primary-bg" *ngFor="let p of pagos">
        <ng-template [ngIf]="p.tipoPago==3||p.tipoPago==4">
            <span > El pago vence el: {{subString(p.limiteUso)}} </span>
        </ng-template>
        <ng-template [ngIf]="p.tipoPago==2">
            <span > Tokens restantes: {{p.tokens}} </span>
            <BR>
            <span > Vencen: {{subString(p.limiteUso)}} </span>
        </ng-template>
        <ng-template [ngIf]="p.tipoPago==1">
            <span > Tokens restantes: {{p.tokens}} </span>
            <BR>
        </ng-template>
    </div>
  </ng-template>


  <div class="spacer" style="width: 100%; height: 5px;"></div>

  <div *ngFor="let h of horas  let i = index;" class="widget blanco-bg">


      <ion-list no-lines>
        <ion-list-header class="listheader">
          <span class="hora label label-primary"><ion-icon name="md-time"></ion-icon> {{h.hora_plan}} hrs</span>
        </ion-list-header>
        <ion-item >
          <ng-template [ngIf]="h.horaCancelada">
              <button ion-button block color="rojos" class ="desactivado"  (click)="showToastWithHC(h.horaCancelada)">Cancelada</button>
          </ng-template>
          <ng-template [ngIf]="!h.horaCancelada">
            <ng-template [ngIf]="h.agendada">
              <ng-template [ngIf]="h.cancelable">
                <button ion-button   color="rojos" (click)="showCancelar(h.token_registro)" >Cancelar reserva</button>
              </ng-template>
              <ng-template [ngIf]="!h.cancelable">
                <button ion-button   color="rojos" class ="desactivado" (click)="showToast(1)" >Cancelar reserva</button>
              </ng-template>
            </ng-template>
            <ng-template [ngIf]="!h.agendada">
              <ng-template [ngIf]="h.pagoActivo">
                <ng-template [ngIf]="h.accesoSemanal">
                  <ng-template [ngIf]="h.accesoDiario">
                    <ng-template [ngIf]="h.asistencia>=100">
                      <button ion-button  color="rojos" class ="desactivado" >Sin cupo</button>
                    </ng-template>
                    <ng-template [ngIf]="h.asistencia<100">
                      <ng-template [ngIf]="h.cancelable">
                        <button ion-button color="primary" class="botonReservar" (click)="showReservar(0,h.token_registro)" >Reservar</button>
                      </ng-template>
                      <ng-template [ngIf]="!h.cancelable">
                        <button ion-button color="amarillo" class="botonReservar" (click)="showReservar(1,h.token_registro)" >Reservar</button>
                      </ng-template>
                    </ng-template>
                </ng-template>
                  <ng-template [ngIf]="!h.accesoDiario">
                    <button ion-button color="primary" class ="desactivado botonReservar" (click)="showToast(4)" >Reservar</button>
                  </ng-template>
                </ng-template>
                <ng-template [ngIf]="!h.accesoSemanal">
                    <button ion-button color="primary" class ="desactivado botonReservar" (click)="showToast(2)" >Reservar</button>
                </ng-template>
              </ng-template>
              <ng-template [ngIf]="!h.pagoActivo">
                  <button ion-button color="primary" class ="desactivado botonReservar" (click)="showToast(3)" >Reservar</button>
              </ng-template>
            </ng-template>
          </ng-template>
          <ng-template [ngIf]="h.inscritos>0">
            <button ion-button   color="celeste" (click)="presentModal(h.alumnos)" style="float: right;" >Inscritos</button>
          </ng-template>
        </ion-item>
        <ion-item>
            <ion-label style="font-size: 15px; width:20px;" >Cupos: <progress  max="100" [value]="valueConverter(h.inscritos,h.cupos)"></progress></ion-label>
            <ion-badge  color="secondary" item-end="23" >{{h.inscritos}}/{{h.cupos}}</ion-badge>
        </ion-item>
        <ion-item>
            <ng-template [ngIf]="h.gratuito" >
              <span style="float:left;" class="label label-success2">Horario gratuito</span>
            </ng-template>
            <ng-template [ngIf]="h.profesor==null" >
              <span style="float:right;" class="label label-success">Profesor: N/A</span>
            </ng-template>
            <ng-template [ngIf]="h.profesor!==null" >
              <span style="float:right;" class="label label-success">Profesor: {{h.profesor}}</span>
            </ng-template>
        </ion-item>
      </ion-list>
    </div>
</ng-template>




</ion-content>
