page-lista-inscritos {
  .inscritos{
    font-size: 18px !important;
  }
  .boddy{
      background-color: #f4f3f4;
  }

  .blanco-bg{
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }


}
