<!--
  Generated template for the ListaInscritosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>&nbsp;&nbsp;Inscritos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding  class="boddy">

  <div class="widget blanco-bg" >
    <ion-list>
      <ion-item *ngFor="let p of lista">
        <ion-avatar item-start >
          <img [src]="p.imagenperfil" style="border-radius: 30%;">
        </ion-avatar>
        <p class="inscritos">   {{p.nombre}} {{p.apellido_p}}</p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
