<div class="content-wrapper">
    <section class="content-header">
      <h1>
       Home
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a ><i class="fa fa-home"></i> Home</a></li>

      </ol>
    </section>
  
<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text"></span>
          <span class="info-box-number"><small>%</small></span>
        </div>
        
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text"></span>
          <span class="info-box-number"></span>
        </div>
        
      </div>
      
    </div>
     

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text"></span>
          <span class="info-box-number"></span>
        </div>
        
      </div>
      
    </div>
     
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text"></span>
          <span class="info-box-number"></span>
        </div>
        
      </div>
      
    </div>
     
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>

   

        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
          <a href="javascript:void(0)" class="uppercase"></a>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
     
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>
