<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Servicios Chat Genesys
        <small>Horarios de servicios</small>
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="/admin/home"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Services</li>
      </ol>
      <div class="box box-info">
        <div class="box-header">
          <h3 class="box-title">Panel de Opciónes</h3>
        </div>
        <div class="box-body">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalRecargar" data-backdrop="static" data-keyboard="false">Recargar</button>
            <button type="button" class="btn btn-warning btn-sm"  data-toggle="modal" data-target="#modalEditar" data-backdrop="static" data-keyboard="false">Editar</button>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalSave" data-backdrop="static" data-keyboard="false">Guardar</button>  
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>

  <!-- Modal -->
    <div id="modalRecargar" class="modal fade" role="dialog">
      <div class="modal-dialog" style="width: 407px;margin: 103px auto;">
        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 6px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><i class="fa fa-exclamation-triangle" style="color:#00acd6"></i> Confirmar volver a cargar datos</h4>
        </div>
        <div class="modal-body">
              <p>Esta seguro que desea volver a cargar los datos?, perdera cuarquien cambio no guardado.</p>
        </div>
        <div class="modal-footer" style="padding: 7px;">
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="recargarServicios()">Aceptar</button>
        </div>
      </div>
      </div>
    </div>

    
  <!-- Modal -->
  <div id="modalEditar" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 407px;margin: 103px auto;">
      <!-- Modal content-->
      <div class="modal-content" style="border-radius: 6px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-exclamation-triangle" style="color:rgba(228, 150, 5, 0.925)"></i> Confirmar edición</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="disable;then dtrue else dfalse"></div>
        <ng-template #dtrue>
            <p>Esta seguro que desea habilitar la edición? </p>
        </ng-template>
        <ng-template #dfalse>
            <p>Esta seguro que desea deshabilitar la edición? </p>
        </ng-template>
      </div>
      <div class="modal-footer" style="padding: 7px;">
        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="habilitarEdicion()">Aceptar</button>
      </div>
    </div>
    </div>
  </div>

    <!-- Modal -->
    <div id="modalfecha" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 407px;margin: 103px auto;">
          <!-- Modal content-->
          <div class="modal-content" style="border-radius: 6px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Fecha de indisponibilidad</strong> </h4>
          </div>
          <form #f="ngForm" (ngSubmit)="onSubmit(f);f.reset()" validate>
            <div class="modal-body" >
                <div class="row formaularioNuevaFecha">
                  <input type="checkbox" class="form-check-input" id="tipofecha" name="tipodefecha"  [(ngModel)]="tipodefecha" ngModel>
                  <label class="form-check-label" for="tipofecha">Continua</label> (se repetira todos los años)
                </div>
                <div class="row formaularioNuevaFecha">
                  <label>Fecha </label>
                  <input type="date" name="fecha" ngModel #fecha="ngModel" required > 
                </div>
                <div *ngIf="!tipodefecha;then siempre"></div>
                <ng-template #siempre>
                    <div class="row formaularioNuevaFecha">
                        <label>Comienzo </label>
                          <input  type="time" name="start" ngModel required >
                        <label>Termino </label>
                        <input  type="time" name="end" ngModel required >
                      </div>
                </ng-template>
            </div>
            <div class="modal-footer" style="padding: 7px;">
              <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
              <button type="submit" class="btn btn-success" onclick="$('.modal').modal('hide')" [disabled]="!f.form.valid">Agregar</button>
            </div>
          </form>
        </div>
        </div>
      </div>

      
  <!-- Modal -->
    <div id="modalSave" class="modal fade" role="dialog">
      <div class="modal-dialog" style="width: 407px;margin: 103px auto;">
        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 6px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><i class="fa fa-exclamation-triangle" style="color:red"></i>  Confirmar Guardado</h4>
        </div>
        <div class="modal-body">
          <p>Esta seguro que desea guardar los datos?</p>
        </div>
        <div class="modal-footer" style="padding: 7px;">
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
          <button type="button" class="btn btn-success" data-dismiss="modal"  (click)="sicloActualizacion()">Aceptar</button>
        </div>
      </div>
      </div>
    </div>

      <!-- Modal -->
      <div id="modalCarga" class="modal fade" role="dialog">
          <div class="modal-dialog " style="width: 128px;margin: 200px auto;" align="center">
            <!-- Modal content-->
                <img  src="assets/img/loading.gif"  width="128" height="128">
          </div>
      </div>

    <!-- Main content -->
    <section class="content">
  
      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default collapsed-box" *ngFor="let servicio of services;index as i">
          <div class="box-header with-border">
            <h3 class="box-title">{{servicio.name}}</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
             <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>-->
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Id del Servicio</label>
                        <input #id [disabled]="true" [(ngModel)]="servicio.id" class="valor form-control input-sm" style="font-size: 14px;">
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Nombre del Servicio</label>
                        <input #name [disabled]="disable" [(ngModel)]="servicio.name" class="valor form-control input-sm" style="font-size: 14px;" required>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Connection Timeout</label>
                        <input #connectionTimeout [disabled]="disable" [(ngModel)]="servicio.connectionTimeout" class="valor form-control input-sm " style="font-size: 14px;">
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Inactivity Timeout</label>
                        <input #inactivityTimeout [disabled]="disable" [(ngModel)]="servicio.inactivityTimeout" class="valor form-control input-sm " style="font-size: 14px;">
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Agent Join Timeout</label>
                        <input #agentJoinTimeout [disabled]="disable" [(ngModel)]="servicio.agentJoinTimeout" class="valor form-control input-sm" style="font-size: 14px;">
                      </div>
                    <div class="col-md-6 form-group">
                        <label for="sel1">Encuesta Apa:</label>
                        <select class="form-control" id="sel1" [(ngModel)]="servicio.apa"  [disabled]="disable" style="font-size: 14px;" >
                          <option value="true">true</option>
                          <option value="false">false</option>
                        </select>
                    </div>
                </div>
              </div>
  
              <div class="col-md-6">
                <div class="form-group">
                  <label>Disponibilidad:</label>
  
                  <div class="row form-group">
                    <div *ngIf="servicio.availability.mon.length>0;then contentmon else nul_contentmon"></div>
                    <ng-template #contentmon>
                        <div class="col-md-3 col-md-offset-1">Lunes: </div>
                        <div class="col-md-4">Comienzo
                          <input id="time" type="time" [(ngModel)]="servicio.availability.mon[0].start"  [disabled]="disable">
                        </div>
                        <div class="col-md-4">Termino
                        <input id="time" type="time" [(ngModel)]="servicio.availability.mon[0].end" [disabled]="disable">
                      </div>
                    </ng-template>
                    <ng-template #nul_contentmon>
                      <div class="col-md-3 col-md-offset-1">Lunes: </div>
                      <div class="col-md-4">Comienzo
                        <input id="time" type="time" [disabled]="disable">
                      </div>
                      <div class="col-md-4">Termino
                        <input id="time" type="time"  [disabled]="disable">
                      </div>
                    </ng-template>
                  </div>
                 
                  <div class="row  form-group">
                    <div *ngIf="servicio.availability.tue.length>0;then contenttue else nul_contenttue"></div>
                    <ng-template #contenttue>
                      <div class="col-md-3 col-md-offset-1">Martes: </div>
                        <div class="col-md-4">Comienzo
                          <input id="time" type="time" [(ngModel)]="servicio.availability.tue[0].start" [disabled]="disable">
                        </div>
                        <div class="col-md-4">Termino
                          <input id="time" type="time" [(ngModel)]="servicio.availability.tue[0].end" [disabled]="disable"></div>
                    </ng-template>
                    <ng-template #nul_contenttue>
                      <div class="col-md-3 col-md-offset-1">Martes: </div>
                      <div class="col-md-4">Comienzo
                        <input id="time" type="time" [disabled]="disable">
                      </div>
                      <div class="col-md-4">Termino
                        <input id="time" type="time"  [disabled]="disable">
                      </div>
                    </ng-template>
                  </div>
                  
                  <div class="row  form-group">
                    <div *ngIf="servicio.availability.wed.length>0;then contentwed else nul_contentwed"></div>
                    <ng-template #contentwed>
                      <div class="col-md-3 col-md-offset-1">Miercoles: </div>
                        <div class="col-md-4">Comienzo
                          <input id="time" type="time" [(ngModel)]="servicio.availability.wed[0].start" [disabled]="disable"></div>
  
                        <div class="col-md-4">Termino
                          <input id="time" type="time" [(ngModel)]="servicio.availability.wed[0].end" [disabled]="disable"></div>
  
                    </ng-template>
                    <ng-template #nul_contentwed>
                      <div class="col-md-3 col-md-offset-1">Miercoles: </div>
                      <div class="col-md-4">Comienzo
                        <input id="time" type="time" [disabled]="disable">
                      </div>
                      <div class="col-md-4">Termino
                        <input id="time" type="time"  [disabled]="disable">
                      </div>
                    </ng-template>
                  </div>
                  
                  <div class="row  form-group">
                    <div *ngIf="servicio.availability.thu.length>0;then contentthu else nul_contentthu"></div>
                    <ng-template #contentthu>
                      <div class="col-md-3 col-md-offset-1">Jueves: </div>
                        <div class="col-md-4">Comienzo
                          <input id="time" type="time" [(ngModel)]="servicio.availability.thu[0].start" [disabled]="disable"></div>
                        
                        <div class="col-md-4">Termino
                          <input id="time" type="time" [(ngModel)]="servicio.availability.thu[0].end" [disabled]="disable"></div>
  
                    </ng-template>
                    <ng-template #nul_contentthu>
                      <div class="col-md-3 col-md-offset-1">Jueves: </div>
                      <div class="col-md-4">Comienzo
                        <input id="time" type="time" [disabled]="disable">
                      </div>
                      <div class="col-md-4">Termino
                        <input id="time" type="time"  [disabled]="disable">
                      </div>
                    </ng-template>
                  </div>
                  
                  <div class="row form-group">
                    <div *ngIf="servicio.availability.fri.length>0;then contentfri else nul_contentfri"></div>
                    <ng-template #contentfri>
                      <div class="col-md-3 col-md-offset-1">Viernes: </div>
                        <div class="col-md-4">Comienzo
                          <input id="time" type="time" [(ngModel)]="servicio.availability.fri[0].start" [disabled]="disable"></div>
  
                        <div class="col-md-4">Termino
                          <input id="time" type="time" [(ngModel)]="servicio.availability.fri[0].end" [disabled]="disable"></div>
  
                    </ng-template>
                    <ng-template #nul_contentfri>
                      <div class="col-md-3 col-md-offset-1">Viernes: </div>
                      <div class="col-md-4">Comienzo
                        <input id="time" type="time" [disabled]="disable">
                      </div>
                      <div class="col-md-4">Termino
                        <input id="time" type="time"  [disabled]="disable">
                      </div>
                    </ng-template>
                  </div>
                  
                  <div class="row form-group">
                    <div *ngIf="servicio.availability.sat.length>0;then contentsat else nul_contentsat"></div>
                    <ng-template #contentsat>
                      <div class="col-md-3 col-md-offset-1">Sabado: </div>
                        <div class="col-md-4">Comienzo
                          <input id="time" type="time" [(ngModel)]="servicio.availability.sat[0].start" [disabled]="disable"></div>
  
                        <div class="col-md-4">Termino
                          <input id="time" type="time" [(ngModel)]="servicio.availability.sat[0].end" [disabled]="disable"></div>
  
                    </ng-template>
                    <ng-template #nul_contentsat>
                      <div class="col-md-3 col-md-offset-1">Sabado: </div>
                      <div class="col-md-4">Comienzo
                        <input id="time" type="time" [disabled]="disable">
                      </div>
                      <div class="col-md-4">Termino
                        <input id="time" type="time"  [disabled]="disable">
                      </div>
                    </ng-template>
                  </div>
                  
                  <div class="row  form-group">
                    <div *ngIf="servicio.availability.sun.length>0;then contentsun else nul_contentsun"></div>
                    <ng-template #contentsun>
                      <div class="col-md-3 col-md-offset-1">Domingo: </div>
                        <div class="col-md-4">Comienzo
                          <input id="time" type="time" [(ngModel)]="servicio.availability.sun[0].start" [disabled]="disable"></div>
  
                        <div class="col-md-4">Termino
                          <input id="time" type="time" [(ngModel)]="servicio.availability.sun[0].end" [disabled]="disable"></div>
  
                    </ng-template>
                    <ng-template #nul_contentsun>
                      <div class="col-md-3 col-md-offset-1">Domingo: </div>
                      <div class="col-md-4">Comienzo
                        <input id="time" type="time" [disabled]="disable">
                      </div>
                      <div class="col-md-4">Termino
                        <input id="time" type="time"  [disabled]="disable">
                      </div>
                    </ng-template>
                  </div>
  
      
                        
    
                </div>
                <!-- /.form-group -->
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
              <div class="row">
                  <div class="col-md-12">
                    <div class="">
                      <label>Fechas espaciales: </label>
                     <!--  <button type="button" class="btn btn-box-tool"  [disabled]="disable" (click)="agregarFecha(servicio.specialDates)" ><i class="fa fa-plus"></i></button> -->
                      <button type="button"class="btn btn-box-tool" [disabled]="disable"  data-toggle="modal" data-target="#modalfecha"(click)="referencia(servicio.specialDates)"><i class="fa fa-plus"></i></button>
                    </div>
                  </div>
                </div>

              <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" [id]="i">
    
                      <div class="col-md-6"  *ngFor="let sd of servicio.specialDates;index as j" >
                          <div class="col-md-4" >
                              <button [disabled]="disable" (click)="eliminarFecha(servicio.specialDates,j)" type="button" class="btn btn-box-tool" style="padding:0px;"  ><i class="fa fa-trash"></i></button>
                              <div *ngIf="sd.date.year;then conano else sinano"></div>
                              <ng-template #sinano>
                                  <input type="input"  value="{{sd.date.month}}-{{sd.date.day}}" class="fecha" [disabled]="true"> 
                              </ng-template>
                              <ng-template #conano>
                                  <input type="date" min="2017-01-01" value="{{sd.date.year}}-{{sd.date.month}}-{{sd.date.day}}" class="fecha "  [disabled]="true">
                              </ng-template>
                              
                          </div>     
                          <div *ngIf="sd.availability.length>0;then avtrue else avfalse"></div>
                          <ng-template #avtrue>
                              <div class="col-md-4">
                                Comienzo <input id="time" type="time" [(ngModel)]="sd.availability[0].start"  [disabled]="true"> 
                              </div>
                              <div class="col-md-4">
                                Termino <input id="time" type="time" [(ngModel)]="sd.availability[0].end" [disabled]="true"> 
                              </div>
                          </ng-template>
                          <ng-template #avfalse>
                              <div class="col-md-4">
                                Comienzo <input id="time" type="time"  [disabled]="true"> 
                              </div>
                              <div class="col-md-4">  
                                Termino <input id="time" type="time" [disabled]="true">  
                              </div>           
                        </ng-template>
                      </div>
    
                      <ng-template [ngIf]="servicio.specialDates==''">
                         No hay dias espaciales.
                      </ng-template>
                    </div>
                    <!-- /.form-group -->
                  </div>
                   
                  
                </div>
                <!-- /.row -->
          </div>
        </div>
        <!-- /.box -->
  
    </section>
    <!-- /.content -->
  </div>
  