.valor{
  
}
li{
    margin: 6px;
}
.conano{
    width: 123px;
    height: 20px;
}

.fecha{
    margin-bottom: 3px;
    width: 130px;
    padding-left: 5px;
}

input:disabled{
    background-color: #eee;
    cursor: not-allowed !important;
    border: 0.5px solid;
    border-color: #d2d6de;

}
.availability{
    border: 2px solid #4CAF50;
    padding: 5px;
}
.box-info{
    margin-top: 10px;
}
.formaularioNuevaFecha{
    margin-left:10px;
    margin-bottom: 5PX;
}



/*
button[disabled], html input[disabled] {
    cursor: not-allowed;
}
*/