<ion-menu [content]="content"  >

  <ion-content class="menu-backgroud-color">

    <div class="tip">
      <div>
        <img  [src]="this.session.getImagenPerfil()" style="border-radius: 30%; width:70px; height:70px; margin-top:1px;">
        <BR>
        <p  style="font-size: 16px;">{{this.session.getNombre()}}</p>
        <BR>
        <p  style="font-size: 14px;">{{this.session.getApellido()}}</p>
      </div>
      <a  menuClose style="margin-left:9px;" (click)="openPerfil()">Perfil</a>
		</div>


    <!--no-lines-->
    <ion-list no-lines style="margin-top: 10px" class="menu" >
      <ion-item  menuClose color="secondary" (click)="openHome()" style="background-color: rgba(0, 0, 0, 0); " >
           <p class="ion-listp">
             <ion-icon item-left name="home" class="icon1"></ion-icon>
             Inicio
           </p>
      </ion-item>
      <ng-template [ngIf]="session.getEsUsuarioOrg()">
        <ion-item text-wrap *ngFor=" let  p of pagesUsuarioOrg; let i=index" (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" color="secondary" [ngSwitch]="p.title">
              <p class="ion-listp">
                <ion-icon item-left [name]="p.icon" class="icon1"></ion-icon>
                {{p.title}}
                <ion-icon  item-right [name]="isGroupShown(i) ? 'md-arrow-dropdown' : 'md-arrow-dropright'" class="icon2"></ion-icon>
              </p>
          <div *ngIf="isGroupShown(i)">
            <ion-item  menuClose *ngFor=" let item of p.component" [ngSwitch]="item" color="secondary" (click)="openPage(item)" style="background-color: rgba(0, 0, 0, 0); " >
                <p class="ion-listp" *ngSwitchCase="'AsistenciaPage'">Asistencia </p>
                <p class="ion-listp" *ngSwitchCase="'HistoricoAsistenciaPage'">Histórico Asistencia</p>
                <p class="ion-listp" *ngSwitchCase="'PlanesAccesosPage'">Tus planes y Accesos</p>
                <p class="ion-listp" *ngSwitchCase="'HistorialPagosPage'">Historial de Pagos</p>
                <p class="ion-listp" *ngSwitchDefault>{{item}}</p>
            </ion-item>
          </div>
        </ion-item>
      </ng-template>
      <ng-template [ngIf]="session.getEsUsuario()">
        <ion-item text-wrap *ngFor=" let  p of pagesEsUsuario; let i=index" (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" color="secondary" [ngSwitch]="p.title">
              <p class="ion-listp">
                <ion-icon item-left [name]="p.icon" class="icon1"></ion-icon>
                {{p.title}}
                <ion-icon  item-right [name]="isGroupShown(i) ? 'md-arrow-dropdown' : 'md-arrow-dropright'" class="icon2"></ion-icon>
              </p>
          <div *ngIf="isGroupShown(i)">
            <ion-item  menuClose *ngFor=" let item of p.component" [ngSwitch]="item" color="secondary" (click)="openPage(item)" style="background-color: rgba(0, 0, 0, 0); " >
                <p class="ion-listp" *ngSwitchCase="'IngresarComunidadPage'" >Ingresar a Comunidad</p>
                <p class="ion-listp" *ngSwitchDefault>{{item}}</p>
            </ion-item>
          </div>
        </ion-item>
      </ng-template>
      <ion-item menuClose color="secondary" (click)="logOut()">
         <p class="ion-listp">
           <ion-icon item-left name="log-out" class="icon1"></ion-icon>
           Salir
         </p>
      </ion-item>
    </ion-list>

    <!--
    <ion-list no-lines>
      <button  menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="secondary"  class="sombra">
        {{p.title}}
      </button>
      <button menuClose ion-item detail-none color="secondary" (click)="logOut()" class="sombra">Salir</button>
    </ion-list>
    -->


  </ion-content>

</ion-menu>



<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
