// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-backgroud-color {
     background-color: color($colors, secondary);
}
.item-inner{
  margin-left: 0px !important;
}
.menu-inner{
  width: calc(100% - 140px);
}
.tip {
   border-left:10px solid #33302c;
   height: 90px;
   width: 100%;
   background-image:url('../assets/img/background_menu.png');
   padding-top: 10px;
   padding-left: 10px;
   background-size: cover;
}
.tip p {
    display:inline;
    margin-left:10px;
    color:white;
    line-height: 100%;
}
.tip a{
  color: color($colors, letras-sidebar);
}
.tip img {
    float:left;
}
.ion-listp{
  font-size: 16px!important;
}
.active{
  background-color: rgba(0,0,0,0.2);
}
.menu ion-item:active {
  background-color: rgba(0,0,0,0.2) !important;
  //border-left:10px solid green !important;
}

.icon1{
    font-size: 120% !important;
    margin: 0px 7px 0px 0px !important;
}
.icon2 {
    float:right ;
    margin: 0px 5px 0px 0px !important;
}
ion-item p{
  color: color($colors, letras-sidebar);
}

.list-md .item-block .item-inner {
  /* border-bottom: 1px solid #a7b1c2; */
}
