// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

//@import "ionicapp";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #1AB394,
  secondary:  #2f4050,
  letras:     #676a6c,
  letras-sidebar: #a7b1c2,
  fondo:      #f4f3f4,
  celeste:    #5bc0de,
  celeste-borde: #46b8da,
  logo:       #2D97CF,
  danger:     #ed5565,
  light:      #f4f4f4,
  dark:       #222,
  positive:   #387EF5,
  royal:      #A7A6A1,
  facebook:   #3b5998,
  rojos:      #ed5565,
  blanco:     #FFFFFF,
  amarillo:   #CCF70B,
  perfil:     #23c6c8,
  emergencia: #f8ac59
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


@font-face {
  font-family: 'Arrows';
  src: url('../assets/fonts/Arrows.ttf') format('truetype');
}
*{
  font-family: 'roboto';
}
 //$list-md-border-color:color($colors, letras-sidebar);
.boddy{
  background-color: color($colors, fondo)  !important;
}
.toolbar-background {
  background: color($colors, primary)  !important;
}
.bar-button .toolbar-title{
  color: color($colors, secondary) !important;
}

h5 {
  display: inline-block;
  font-size: 14px !important;
  padding: 0;
  text-overflow: ellipsis;
  //float: left;
  font-weight: 500 !important;
}
h4 {
  font-weight: 500;
  font-size: 10px;
}
h3 {
  font-weight: 600;
  font-size: 16px;
}
h2 {
  color: color($colors, letras);
  font-weight: 600;
  font-size: 24px;
}
p{
 color: color($colors, letras);
}
span{
  font-weight: 500;
}
.label {
  //margin: 5px !important;
}
.button.button-block {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 30px;
}
.widget {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
.primary-bg {
    background-color: color($colors, primary);
    color: #fff;
}
.blanco-bg {
    background-color: color($colors, blanco);
    color: #fff;
}
.yellow-bg {
    background-color: #f8ac59;
    color: #fff;
}
.red-bg {
    background-color: color($colors, rojos);
    color: #fff;
}
.widget h2 {
    display:inline;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
.widget p {
    color:white;
    font-weight: normal;
    font-size: 14px;
    margin: 2px;
}
.widget span {
    color:white;
}
.card {
    margin: 10px 0px 10px 0px !important;
    width: 100% !important;
    border-radius: 5px !important;
    //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
//button
button.activated{
  opacity: 0.5 !important;
  //box-shadow: none !important;
}
button{
  border-radius: 4px !important;
}

.item {
  background-color: transparent;
  //width: 90%;
  margin:auto;
}

ion-item.activated{
  opacity: 0.5 !important;
}
.toolbar-title {
  color: white !important;
}
.bar-button {
  color: white !important;
}

.alert-button .button-inner{
 color: color($colors, letras) !important;
}
.scroll-bar-indicator
{
	display: none;
}

ion-app.ios{
  ion-menu{
    top: -20px!important;
    height: 120%!important;
  }
}


$item-md-detail-push-show:true;
$item-wp-detail-push-show:true;

//$text-input-highlight-color-valid: color($colors, primary) !important;
//$text-input-highlight-color-invalid: color($colors, rojos) !important;
//$text-input-placeholder-color:  color($colors, celeste) !important;

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
