<header class="main-header">

  <!-- Logo -->
  <a class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>M</b>C</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Mantenedor</b>CHAT</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a  class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav" >

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a (click)="logout()" alt="Planets">
              <i class="fa fa-sign-out"></i>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</header>
