
  <div class="login-box prueba">
    <div class="login-logo">
      <a><b>Mantenedor</b>CHAT</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body border">
      <p class="login-box-msg">Inicia sesion para comenzar</p>
  
      <form #fromlogin="ngForm" (ngSubmit)="loginMantenedor(fromlogin)" name='fromlogin' validate>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Usuario" [(ngModel)]="fromlogin.user" name="user" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="fromlogin.pass" name="pass"  required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div *ngIf="!validCredential">
            <p class="invalida">Credenciales invalida.</p>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
            <!--  <label>
                <input type="checkbox"> Remember Me
              </label> -->
            </div>
          </div>
           
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!fromlogin.form.valid">Ingresar</button>
          </div>
           
        </div>
      </form>
  
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
 
