<!--
  Generated template for the HistorialPagosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >historial de Pagos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="boddy">


<div class="widget blanco-bg" >
    <p  style="font-size: 12px; ">Acá podrás revisar todos los pagos que se han ingresado para que puedas reservas horas en las actividades de tu comunidad</p>
    <input type='text' class="buscar" placeholder='Buscar pagos' (keyup)='updateFilter($event)' style="color:black"/>
</div>


  <ngx-datatable
        #myTable
        class='material expandable striped'
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [scrollbarV]="false"
        [limit]="7"
        [rows]='rows'
        (page)="onPage($event)" >
        <!-- Row Detail Template -->
        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" ngx-datatable-row-detail-template>
            <div style="padding-left:35px;">
              <strong>Monto:</strong> {{row.monto_pago}}
              <div *ngFor="let r of row.saldoPago">
                <strong>Detalle saldo:</strong> {{r.nombre}}
                <ul>
                  <li><strong>Tokens:</strong> {{r.saldo_tokens}} de {{r.tokens_asignados}}</li>
                  <li><strong>Duración de tokens: {{r.comienzo_tokens}} - {{r.vencimiento_tokens}}</strong></li>
                </ul>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>
        <!-- Column Templates -->
         <ngx-datatable-column
          [width]="20"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ion-icon color="primary"  item-right [name]="isGroupShown(row) ? 'md-arrow-dropdown' : 'md-arrow-dropright'" class="detalleflecha" (click)="toggleExpandRow(row)"></ion-icon>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Comunidad"  prop="nombre_sucursal" [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="Plan"  prop="nombre_plan" [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="Fecha <BR>ingreso"  prop="created_at" [width]="100">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>


</ion-content>
