page-crear-cuenta {
  .boddyColor{
      background-color: color($colors, fondo);
  }
  h3{
    color: color($colors, letras);
  }
  h3 span {
    color: color($colors, logo)!important;
  }

  input{
    color: color($colors, letras);
  }
  .datetime-text,.select-text,.alert-radio-label{
    color: color($colors, letras);
  }
  .invalid {
    border-bottom: 1px solid red !important;
  }
  p {
    font-size: 0.8em;
    color: red;
  }


}
