<!--

  https://angular.io/api/forms/FormBuilder
  https://angular.io/guide/form-validation
  
  https://www.joshmorony.com/advanced-forms-validation-in-ionic-2/
  https://robferguson.org/blog/2017/11/19/ionic-3-and-forms/
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="boddyColor">

  <div>
      <img src="assets/img/.png" style="width: 90%; height: auto; ">
  </div>
    <h3 style="text-align:center;">Crea una cuenta <span></span></h3>


    <div align="center" class="widget blanco-bg">
      <form [formGroup]="FormCreateUser" (ngSubmit)="crearUsuario(FormCreateUser.value)"  validate>
        <ion-list id="signup-list" no-lines>
          <ion-item>
            <ion-label color="primary" floating>Nombre</ion-label>
            <ion-input formControlName="nombre" name="nombre" type="text"  ngTrim="true" [class.invalid]="!FormCreateUser.controls.nombre.valid && (FormCreateUser.controls.nombre.dirty || submitAttempt)"  required></ion-input>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.nombre.valid  && (FormCreateUser.controls.nombre.dirty|| submitAttempt)">
                  <p>Debe ingresar un nombre válido.</p>
              </ion-item>
          <ion-item >
              <ion-label color="primary" floating>Apellido Paterno</ion-label>
              <ion-input formControlName="apellido_p" name="apellido_p" type="text" [class.invalid]="!FormCreateUser.controls.apellido_p.valid  && (FormCreateUser.controls.apellido_p.dirty|| submitAttempt)" required></ion-input>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.apellido_p.valid  && (FormCreateUser.controls.apellido_p.dirty|| submitAttempt)">
                  <p>Debe ingresar un apellido paterno válido.</p>
              </ion-item>
          <ion-item >
            <ion-label color="primary" floating>Apellido Materno</ion-label>
            <ion-input formControlName="apellido_m" name="apellido_m" type="text" [class.invalid]="!FormCreateUser.controls.apellido_m.valid  && (FormCreateUser.controls.apellido_m.dirty|| submitAttempt)" required></ion-input>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.apellido_m.valid  && (FormCreateUser.controls.apellido_m.dirty|| submitAttempt)">
                  <p>Debe ingresar un apellido materno válido.</p>
              </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Genero</ion-label>
            <ion-select formControlName="sexo" name="sexo" multiple="false" [class.invalid]="!FormCreateUser.controls.sexo.valid  && (FormCreateUser.controls.sexo.dirty|| submitAttempt)" required>
              <ion-option value="M">Masculino</ion-option>
              <ion-option value="F">Femenino</ion-option>
            </ion-select>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.sexo.valid  && (FormCreateUser.controls.sexo.dirty|| submitAttempt)">
                  <p>Debe seleccionar su género.</p>
              </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Seleccione Talla</ion-label>
            <ion-select formControlName="talla_polera" name="talla_polera"  multiple="false" [class.invalid]="!FormCreateUser.controls.talla_polera.valid  && (FormCreateUser.controls.talla_polera.dirty|| submitAttempt)" required>
              <ion-option value="XS">XS</ion-option>
              <ion-option value="S">S</ion-option>
              <ion-option value="M">M</ion-option>
              <ion-option value="L">L</ion-option>
              <ion-option value="XL">XL</ion-option>
            </ion-select>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.talla_polera.valid  && (FormCreateUser.controls.talla_polera.dirty|| submitAttempt)">
                  <p>Debe seleccionar una talla.</p>
              </ion-item>
          <ion-item>
              <ion-label color="primary" floating>Correo</ion-label>
              <ion-input formControlName="correo" name="correo" type="email" [class.invalid]="!FormCreateUser.controls.correo.valid  && (FormCreateUser.controls.correo.dirty|| submitAttempt)" required></ion-input>
          </ion-item>    
              <ion-item *ngIf="!FormCreateUser.controls.correo.valid  && (FormCreateUser.controls.correo.dirty|| submitAttempt)">
                  <p>Debe ingresar un correo válido.</p>
              </ion-item>          
          <ion-item>
              <ion-label color="primary"  floating>Fecha de nacimiento</ion-label>
              <ion-datetime formControlName="fecha_nacimiento" name="fecha_nacimiento" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" max="2017" min="1900" interface="alert" [class.invalid]="!FormCreateUser.controls.fecha_nacimiento.valid  && (FormCreateUser.controls.fecha_nacimiento.dirty|| submitAttempt)" required></ion-datetime>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.fecha_nacimiento.valid  && (FormCreateUser.controls.fecha_nacimiento.dirty|| submitAttempt)">
                  <p>Debe ingresar su fecha de nacimiento.</p>
              </ion-item>   
          <ion-item>
              <ion-label color="primary" floating>Teléfono Contacto (569 XX XXX XXX)</ion-label>
              <ion-input formControlName="fono_contacto" name="fono_contacto" type="tel"  maxlength="8"  minlength="8" [class.invalid]="!FormCreateUser.controls.fono_contacto.valid  && (FormCreateUser.controls.fono_contacto.dirty|| submitAttempt)" required></ion-input>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.fono_contacto.valid  && (FormCreateUser.controls.fono_contacto.dirty|| submitAttempt)">
                  <p>Debe ingresar un número de teléfono.</p>
              </ion-item>   
          <ion-item>
            <ion-label color="primary" floating>País</ion-label>
            <ion-select  formControlName="pais_id"  name="pais_id"  multiple="false" (ionChange)="cargarRegion(FormCreateUser.controls.pais_id.value)" placeholder="País..." [class.invalid]="!FormCreateUser.controls.pais_id.valid  && (FormCreateUser.controls.pais_id.dirty|| submitAttempt)" required>
              <ion-option *ngFor="let pais of paises" [value]="pais.pais_id">{{pais.pais_nombre}}</ion-option>
            </ion-select>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.pais_id.valid  && (FormCreateUser.controls.pais_id.dirty|| submitAttempt)">
                  <p>Debe seleccionar un país.</p>
              </ion-item>       
          <ion-item>
            <ion-label color="primary" floating>Región</ion-label>
            <ion-select  formControlName="region_id"  name="region_id"   multiple="false" (ionChange)="cargarProvincia(FormCreateUser.controls.region_id.value)" placeholder="Region..."  [class.invalid]="!FormCreateUser.controls.region_id.valid  && (FormCreateUser.controls.region_id.dirty|| submitAttempt)" required>
              <ion-option *ngFor="let region of regiones" [value]="region.region_id" >{{region.region_nombre}} </ion-option>
            </ion-select>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.region_id.valid  && (FormCreateUser.controls.region_id.dirty|| submitAttempt)">
                  <p>Debe seleccionar una región.</p>
              </ion-item>  
          <ion-item>
            <ion-label color="primary" floating>Provincia</ion-label>
            <ion-select  formControlName="provincia_id"  name="provincia_id"   multiple="false" (ionChange)="cargarComuna(FormCreateUser.controls.provincia_id.value)"  placeholder="Provincia..." [class.invalid]="!FormCreateUser.controls.provincia_id.valid  && (FormCreateUser.controls.provincia_id.dirty|| submitAttempt)" required>
              <ion-option *ngFor="let provincia of provincias" [value]="provincia.provincia_id">{{provincia.provincia_nombre}}</ion-option>
            </ion-select>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.provincia_id.valid  && (FormCreateUser.controls.provincia_id.dirty|| submitAttempt)">
                  <p>Debe seleccionar una provincia.</p>
              </ion-item>  
          <ion-item>
            <ion-label color="primary" floating>Comuna</ion-label>
            <ion-select  formControlName="comuna_id"  name="comuna_id"   multiple="false" placeholder="Comuna..." [class.invalid]="!FormCreateUser.controls.comuna_id.valid  && (FormCreateUser.controls.comuna_id.dirty|| submitAttempt)" required>
              <ion-option *ngFor="let comuna  of comunas" [value]="comuna.comuna_id">{{comuna.comuna_nombre}}</ion-option>
            </ion-select>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.comuna_id.valid  && (FormCreateUser.controls.comuna_id.dirty|| submitAttempt)">
                  <p>Debe seleccionar una comuna.</p>
              </ion-item>  
          <ion-item>
            <ion-label color="primary" floating>Seleccione una Comunidad</ion-label>
            <ion-select  formControlName="box"  name="box"   multiple="false" [class.invalid]="!FormCreateUser.controls.box.valid  && (FormCreateUser.controls.box.dirty|| submitAttempt)" required>
              <ion-option *ngFor="let box of boxs" [value]="box.id">{{box.nombre}}</ion-option>
            </ion-select>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.box.valid  && (FormCreateUser.controls.box.dirty|| submitAttempt)">
                  <p>Debe seleccionar un gimnasio o box, o la opción ninguno.</p>
              </ion-item>  
          <ion-item>
            <ion-label color="primary" floating>Privacidad</ion-label>
            <ion-select formControlName="perfilprivado"  name="perfilprivado"  multiple="false" [class.invalid]="!FormCreateUser.controls.perfilprivado.valid  && (FormCreateUser.controls.perfilprivado.dirty|| submitAttempt)" required>
              <ion-option value="true">Perfil Privado</ion-option>
              <ion-option value="false">Perfil Público</ion-option>
            </ion-select>
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.perfilprivado.valid  && (FormCreateUser.controls.perfilprivado.dirty|| submitAttempt)">
                  <p>Debe seleccionar una opción de privacidad.</p>
              </ion-item>  
          <ion-item>
              <ion-label color="primary" floating>Contraseña</ion-label>
              <ion-input formControlName="password" name="password" type="password" [class.invalid]="(!FormCreateUser.controls.password.valid  && (FormCreateUser.controls.password.dirty|| submitAttempt))||FormCreateUser.errors?.areEqual" required></ion-input> 
          </ion-item>
              <ion-item *ngIf="!FormCreateUser.controls.password.valid  && (FormCreateUser.controls.password.dirty|| submitAttempt)"> 
                <p>Ingrese una contraseña.</p> 
              </ion-item>   
          <ion-item>
              <ion-label color="primary" floating>Confirmar Contraseña</ion-label>
              <ion-input formControlName="password_confirm" name="password_confirm" type="password" [class.invalid]="(!FormCreateUser.controls.password_confirm.valid  && (FormCreateUser.controls.password_confirm.dirty|| submitAttempt))||FormCreateUser.errors?.areEqual" required></ion-input> 
          </ion-item>
                <ion-item *ngIf="!FormCreateUser.controls.password_confirm.valid  && (FormCreateUser.controls.password_confirm.dirty|| submitAttempt)"> 
                    <p>Ingrese una contraseña.</p> 
                </ion-item>   
                <ion-item *ngIf="FormCreateUser.errors?.areEqual">
                    <p>Las contraseñas no coinciden</p>
                </ion-item>  
        </ion-list>
        <button ion-button block color="primary"  type="submit" >Registrar</button> 
      </form>

    </div>



</ion-content>
