page-home {
.boddy{
    background-color: #f4f3f4;
}

.yellow-bg p {
  color:white;
  font-weight: 500;
  font-size: 15px;
}

.widget a {
  color: #337ab7;
}

.icon1{
  float:left;
  font-size: 300% !important;
}
.icon2{
  float:left;
  font-size: 100% !important;
  margin-left: 20px !important;
}
ul{
  padding-left: 10px;
}
ol{
  padding-left: 20px;
}
h4 {
  font-weight: 500;
  font-size: 20px;
}

.blanco-bg h3{
  color:color($colors, letras);
  font-size: 23px;
  font-weight: normal;
}
.blanco-bg p{
  color:color($colors, letras);
}
.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #fff;
    padding: 10px 15px;
}
.pull-right {
    float: right!important;
}
dl{
  margin:0!important;
}

}
