<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="true" class="boddy" >

  <ng-template [ngIf]="session.getEsUsuarioOrg()">

    <div class="widget yellow-bg" id="wid1" *ngIf="wid1">
      <ion-icon class="icon1" name="md-alert"></ion-icon>
      <p class="font-bold widgetp">No tiene reservas para los próximos días. Para realizar una reserva ingrese
        <a  (click)="loadAsistencia()">aquí</a>.
      </p>
      <br>
    </div>

    <div class="widget primary-bg" id="wid2" *ngIf="wid2">
      <h2>Próxima clase agendada.<ion-icon class="icon2" name="md-calendar"></ion-icon></h2>
      <ul>
        <li *ngFor="let l of proximaClase">
          <p >{{l}}</p>
        </li>
        <strong><a  (click)="loadAsistencia()">Para más detalle presione aquí</a>.</strong> 
      </ul>
    </div>

    <div class="widget primary-bg">
      <h2>Planes y Actividades.<ion-icon class="icon2" name="walk"></ion-icon></h2>
      <ng-template [ngIf]="dataHome">
        <div style="margin: 15px;">
          <dl>
            <dt><p>Comunidad: {{nombre_sucursal}}</p></dt>
            <dt><p>No tienes pagos disponibles</p></dt>
          </dl>
          <br>
          <p>Para ver más detalles sobre tus planes y tus pagos ingresa a Planes y Accesos o haz click <a  (click)="loadPlanesyAccesos()">aquí</a>.</p>
        </div>
      </ng-template>
      <ng-template [ngIf]="!dataHome">
        <div style="margin: 0 auto; ">
          <ul>
            <li>
              <b>Comunidad:</b> {{nombre_sucursal}}
            </li>
            <li>
              <b>Accesos:</b>
                <ul *ngFor="let plan of planes  let i = index; let c = count;">
                  <li>Plan: {{plan.nombre_plan}}.</li>
                  <li>Valor: {{plan.valor_plan}}.</li>
                  <li>Detalle:
                    <ng-template [ngIf]="plan.id_tipo_saldo==1">
                      <ul *ngFor="let d of plan.detallePago  let a = index; let b = count;">
                        <li>Actividad: {{plan.detallePago[a].nombre}}</li>
                        <li>Tipo de pago: {{plan.detallePago[a].nombre_tipo_pago}}</li>
                        <li>Tokens: {{plan.detallePago[a].saldo_tokens}}/{{plan.detallePago[a].tokens_asignados}}</li>
                        <li>Validez del pago: {{plan.detallePago[a].comienzo_tokens}}{{plan.detallePago[a].comienzo_fecha_pago}} - {{plan.detallePago[a].vencimiento_tokens}} {{plan.detallePago[a].vencimiento_fecha_pago}}</li>
                        <br>
                      </ul>
                    </ng-template>
                    <ng-template [ngIf]="plan.id_tipo_saldo!==1">
                      <ul *ngFor="let d of plan.detallePago  let a = index; let b = count;">
                        <li>Actividades:</li>
                            <ol>
                                <ng-template ngFor let-activi [ngForOf]="plan.detallePago[a].actividades ">
                                  <li>{{activi.nombre}}.</li>
                                </ng-template>
                            </ol>
                        <li>Tipo de pago: {{plan.detallePago[a].nombre_tipo_pago}}.</li>
                        <li>Tokens: {{plan.detallePago[a].saldo_tokens}}/{{plan.detallePago[a].tokens_asignados}}</li>
                          <ul style="padding-left: 20px;">
                              <dl>
                              <ng-template ngFor let-detalleR [ngForOf]="plan.detallePago[a].detalleReservas ">
                                <dt>{{detalleR.reservas}} usados en {{detalleR.nombre}}.</dt>
                              </ng-template>
                              </dl>
                          </ul>
                        <li>Validez del pago: {{plan.detallePago[a].comienzo_tokens}}{{plan.detallePago[a].comienzo_fecha_pago}} - {{plan.detallePago[a].vencimiento_tokens}} {{plan.detallePago[a].vencimiento_fecha_pago}}</li>
                        <br>
                      </ul>
                    </ng-template>

                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </ng-template>
  </div>
  </ng-template>

  <ng-template [ngIf]="session.getEsUsuario()">
    <div class="widget blanco-bg">
      <h3>Bienvenido a !</h3>
      <p>Agradecemos tu preferencia y desde ya te invitamos a disfrutar de lasherramientas de nuestra plataforma.
      <br><br>
      Si eres un <strong>nuevo usuario</strong> y deseas ser parte de una <strong>comunidad
      existente</strong> <strong><a  (click)="loadIngresarComunidadPage()">haz click aquí</a>.
      </strong> para solicitar un acceso.<br><br>Si eres un usuario que desea <strong>crear y gestionar su propia
      comunidad</strong>, envíanos un correo a <a href="mailt.cl">contacto@.cl</a> y nos
      pondremos en contacto contigo lo más pronto posible.</p>
      <div class="ibox-footer">
         <span class="pull-right">
          <p>  Muchas gracias!, El equipo de .</p><BR>
         </span>
          <br>
         </div>
    </div>
  </ng-template>


</ion-content>
