<div class="wrapper">
   <!-- Main Header -->
  <app-starter-header></app-starter-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-starter-left-side></app-starter-left-side>
  <!-- Content Wrapper. Contains page content -->
  <app-starter-content ></app-starter-content>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <app-starter-footer></app-starter-footer>

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
