page-perfil-editar {
  label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 700;

  }
  .center {
      margin: auto;
      width: 50%;
      //border: 1px solid green;
      padding: 10px;
  }
  h3{
    color: color($colors, letras);
  }
  input{
    color: color($colors, letras);
  }
  .datetime-text,.select-text,.alert-radio-label{
    color: color($colors, letras);
  }
  .invalid {
    border-bottom: 1px solid red !important;
  }
  p {
    font-size: 0.8em;
    color: red;
  }

}
