/**
clases para desarrollo
*/
.navbar-inner {
  display: none; }

.aui body {
  background: #ecf0f6;
  color: #353b47;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  line-height: 120%; }

body #wrapper {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px; }

/*fin clases desarrollo*/
.detalle-cuenta-interaccion .cont-detalle-cuenta-interaccion .boletas ul li.boleta .stext {
  width: 100%; }

.verDetalle {
  display: inline-block;
  float: right;
  margin-top: 22px;
  border-left: solid 1px #ccc;
  padding-left: 20px; }

.detalle-cuentas .cont-detalle-cuentas .montos ul li.vencido:after {
  background: none;
  display: none; }

.container .detalle-cuentas .cont-detalle-cuentas .cuenta-numero .cuenta-n p {
  display: inline-flex; }

.container .detalle-cuentas .cont-detalle-cuentas .cuenta-numero .cuenta-n p span {
  display: inline-table; }

button:disabled {
  background: #dddddd; }

#heading {
  padding-top: 45px; }

.login #inner #box_login {
  height: 230px; }

.login #box_login form #btnPagarFA {
  background: #a9cf38;
  color: #fff;
  height: 40px;
  margin-top: 25px;
  font-family: Robotobold;
  font-size: 13px;
  width: 150px;
  border-radius: 3px;
  text-align: center;
  float: right;
  position: relative;
  right: 175px; }

#box_login form fieldset input {
  border: 1px solid #e7eaee;
  height: 30px;
  width: 50%;
  position: relative;
  margin-bottom: 20px; }

#box_login form .fromLabel {
  float: left;
  font-size: 13px;
  font-family: Roboto;
  margin-bottom: 5px;
  margin-top: 3px;
  width: 37%;
  display: inline-block;
  position: relative;
  color: #6c6e7e; }

#box_login #box_login_2 {
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
  margin-left: 104px;
  margin-right: 60px;
  width: 647px; }

#wrapper #heading h1 {
  font-family: moHeadline;
  font-size: 36px;
  color: #007096; }

#wrapper #heading p {
  font-size: 17px;
  margin-top: 8px;
  font-family: 'Roboto Light', 'Roboto Regular', 'Roboto';
  color: #6c6e7e; }

a.white {
  color: white; }

.bottom.row {
  width: 70.5%;
  padding-left: unset;
  /*position: relative;*/ }

.caja {
  bottom: 115px; }

#medios_pago span, .bottom > .right span {
  color: #6c6e7e; }

#wrapper > .bottom #medios_pago .trans_box li {
  float: left;
  width: 100px;
  text-align: center;
  position: relative;
  display: inline-table;
  margin-left: 10px; }

#wrapper > .bottom #medios_pago .trans_box, #wrapper > .bottom #caja_norton .trans_box {
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 19px;
  height: 140px;
  padding-bottom: 50px;
  border: 1px solid #e7eaee;
  border-radius: 3px;
  min-height: auto; }

#wrapper > .bottom #medios_pago {
  padding-right: 0px; }

#wrapper > .bottom .right {
  text-align: center;
  color: #6c6e7e; }

#box_sv > span {
  color: #6c6e7e; }

#box_sv > span strong {
  font-size: 16px;
  font-weight: 400; }

#inner #box_cuenta_hogar {
  width: auto;
  margin-left: 12px;
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 16px;
  margin-top: 31px;
  padding: 6%;
  text-align: center; }

#inner #box_sv {
  width: auto;
  margin-left: 12px;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 6%;
  text-align: left; }

#inner #box_cuenta_hogar > span {
  display: block;
  font-family: 'RobotoBold';
  font-size: 16px;
  padding-bottom: 24px; }

#inner #box_sv > span {
  float: left;
  font-family: moHeadline;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 19px;
  width: 73%;
  margin-left: 20px; }

#inner #box_cuenta_hogar .bt_blue {
  background: #4f94ad;
  border: 1px solid #fff;
  color: #fff; }

#wrapper #inner #box_cuenta_hogar .bt_secondary, #wrapper #inner #box_sv .bt_secondary {
  border-radius: 26px;
  display: block;
  font-size: 14px;
  font-family: RobotoBold;
  padding: 12px 24px;
  clear: both;
  text-align: center; }

#wrapper #inner #box_sv .bt_white {
  background: #fff;
  border: 1px solid #eceff3;
  color: #5D9AF6; }

#inner #account_details .edit strong {
  font-size: 18px;
  font-family: RobotoBold;
  font-weight: 400;
  color: #6c6e7e; }

#inner #account_details .edit span {
  font-size: 18px;
  font-family: RobotoLight;
  color: #6c6e7e; }

#inner #account_details .edit {
  border-bottom: 1px solid #e7eaee;
  margin-bottom: 35px;
  padding-bottom: 20px;
  position: relative;
  text-align: left; }

#inner #account_details .edit .bt_small {
  top: 0px; }

#wrapper #inner strong, #account_details #pay_box .bottom span, #inner .comprobante p {
  color: #6c6e7e; }

#inner .control-nav a.btn {
  background: url(/mo-theme/images/refresh.png) 22px 15px no-repeat #f6f8fa;
  border: 1px solid #eef1f5;
  padding: 15px 55px; }

#inner .control-nav a.btn {
  display: inline-block;
  color: #6eadf8;
  font-size: 13px;
  font-family: Roboto; }

#inner .control-nav a.btn, .via-mail a b {
  font-weight: 600; }

#inner .control-nav .btn:focus, #inner .control-nav .btn:hover {
  color: #6eadf8;
  text-decoration: none; }

#inner .comprobante h2 {
  margin-top: -30px;
  color: #007096;
  font-weight: 400;
  font-family: RobotoBold; }

#inner .comprobante p {
  font-size: 14px; }

#content .detalle-cuentas .cont-detalle-cuentas .cuenta-numero .cuenta-n {
  display: block; }

.envioexitoso i {
  font-size: 20px;
  color: #a8cf37; }

@media (max-width: 767px) {
  #wrapper #inner row, #wrapper div.row, #wrapper #inner.row, #wrapper row {
    margin-left: -15px;
    margin-right: -15px; } }
@media only screen and (max-width: 768px) {
  .login #inner #box_login form label {
    font-size: 16px;
    margin-bottom: 5px;
    width: 100%;
    font-weight: 700; }

  .login #inner #box_login form input {
    font-size: 17px; }

  .login #inner #box_login div {
    margin-left: 20px; }

  .login #inner #box_login form button {
    float: initial;
    right: 0px; }

  .login #inner #box_login {
    height: 294px; }

  #inner #box_cuenta_hogar, #inner #box_sv {
    width: auto;
    margin-left: 0; }

  #wrapper > .bottom #medios_pago .trans_box {
    height: 210px; }

  .bottom.row {
    padding-left: 15px; }

  #wrapper > .bottom #medios_pago .trans_box ul {
    height: 135px; }

  #wrapper > .bottom #medios_pago .trans_box li {
    clear: both;
    display: inline-block;
    float: none;
    width: 44%; }

  #wrapper #heading h1 {
    font-size: 28px; }

  #inner #box_cuenta_hogar {
    margin-top: 11px; }

  #wrapper #heading h1, #wrapper #heading p {
    text-align: left; }

  #wrapper > .bottom #medios_pago {
    padding-right: 14px; }

  #wrapper > .bottom caja_norton {
    padding-left: 10px; }

  .login #inner #box_login div, .login #inner #box_login form button, .login #inner #box_login form input {
    box-sizing: border-box;
    width: 90%; } }
@media only screen and (max-width: 1176px) {
  .login #inner #box_login {
    padding: 5%; }

  #wrapper #heading h1, #wrapper #heading p {
    text-align: left; } }
@media only screen and (max-width: 1024px) {
  #inner #box_cuenta_hogar, #inner #box_sv {
    width: auto;
    margin-left: 0; }

  #box_login #box_login_2 {
    margin-left: 15px; }

  .login #inner #box_login {
    height: 338px; }

  #box_login form {
    width: 90%; } }

