.trans_box {
  border: 1px solid #e7eaee;
  border-radius: 3px;
  min-height: 100px !important; }

#btnPagarFA {
  background: #a9cf38;
  color: #fff;
  height: 40px;
  margin-top: 25px;
  font-family: Robotobold;
  font-size: 13px;
  width: 150px;
  border-radius: 3px;
  text-align: center;
  float: right;
  position: relative;
  right: 175px; }

.bt_secondary {
  border-radius: 26px;
  display: block;
  font-size: 14px;
  font-family: RobotoBold;
  padding: 12px 24px;
  clear: both;
  text-align: center; }

#medios_pago .trans_box {
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 38px;
  height: 155px;
  padding-bottom: 50px;
  border: 1px solid #e7eaee;
  border-radius: 3px; }

