<!--
  Generated template for the HistoricoAsistenciaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Histórico de asistencia</ion-title>
  </ion-navbar>


</ion-header>

<ion-content padding class="boddy">

<div class="widget blanco-bg" >
  <input type='text' class="buscar" placeholder='Buscar reserva' (keyup)='updateFilter($event)' style="color:black"/>
</div>

<ngx-datatable style="height:83%"
  #myTable
  class="material striped"
  [rows]="rows"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'"
  [headerHeight]="40"
  [footerHeight]="50"
  [rowHeight]="40"
  [scrollbarV]="true"
  [reorderable]="reorderable">
  <ngx-datatable-column name="Actividad"  prop="nombre" [width]="120"></ngx-datatable-column>
  <ngx-datatable-column name="Fecha"  prop="fecha_actividad" [width]="100"></ngx-datatable-column>
</ngx-datatable>


</ion-content>
