page-historico-asistencia  {

  .blanco-bg{
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }


  /**
   * angular2-data-table v"9.3.0" (https://github.com/swimlane/angular2-data-table)
   * Copyright 2016
   * Licensed under MIT
   */
  .ngx-datatable {
    display: block;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    /**
     * Vertical Scrolling Adjustments
     */
    /**
     * Horizontal Scrolling Adjustments
     */
    /**
     * Fixed Header Height Adjustments
     */
    /**
     * Fixed row height adjustments
     */
    /**
     * Shared Styles
     */
    /**
     * Header Styles
     */
    /**
     * Body Styles
     */
    /**
     * Footer Styles
     */ }
    .ngx-datatable [hidden] {
      display: none !important; }
    .ngx-datatable *, .ngx-datatable *:before, .ngx-datatable *:after {
      box-sizing: border-box; }
    .ngx-datatable.scroll-vertical .datatable-body {
      overflow-y: auto; }
      .ngx-datatable.scroll-vertical .datatable-body .datatable-row-wrapper {
        position: absolute; }
    .ngx-datatable.scroll-horz .datatable-body {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; }
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner {
      white-space: nowrap; }
      .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .ngx-datatable.fixed-row .datatable-scroll {
      white-space: nowrap; }
      .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row {
        white-space: nowrap; }
        .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
    .ngx-datatable .datatable-body-row,
    .ngx-datatable .datatable-header-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-flow: row;
      -o-flex-flow: row;
      flex-flow: row; }
    .ngx-datatable .datatable-body-cell,
    .ngx-datatable .datatable-header-cell {
      vertical-align: top;
      display: inline-block;
      line-height: 1.625;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none; }
      .ngx-datatable .datatable-body-cell:focus,
      .ngx-datatable .datatable-header-cell:focus {
        outline: none;
      }
    .ngx-datatable .datatable-row-left,
    .ngx-datatable .datatable-row-right {
      z-index: 9; }
    .ngx-datatable .datatable-row-left,
    .ngx-datatable .datatable-row-center,
    .ngx-datatable .datatable-row-right {
      position: relative; }
    .ngx-datatable .datatable-header {
      display: block;
      overflow: hidden; }
      .ngx-datatable .datatable-header .datatable-header-inner {
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-align-items: stretch; }
      .ngx-datatable .datatable-header .datatable-header-cell {
        position: relative;
        display: inline-block; }

        .ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
          line-height: 100%;
          vertical-align: middle;
          display: inline-block;
          cursor: pointer; }
        .ngx-datatable .datatable-header .datatable-header-cell .resize-handle {
          display: inline-block;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 5px;
          padding: 0 4px;
          visibility: hidden;
          cursor: ew-resize; }
        .ngx-datatable .datatable-header .datatable-header-cell.resizeable:hover .resize-handle {
          visibility: visible; }
    .ngx-datatable .datatable-body {
      position: relative;
      z-index: 10;
      display: block; }
      .ngx-datatable .datatable-body .datatable-scroll {
        display: inline-block; }
      .ngx-datatable .datatable-body .datatable-row-detail {
        overflow-y: hidden; }
      .ngx-datatable .datatable-body .datatable-row-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .ngx-datatable .datatable-body .datatable-body-row {
        outline: none; }
        .ngx-datatable .datatable-body .datatable-body-row > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
    .ngx-datatable .datatable-footer {
      display: block;
      width: 100%; }
      .ngx-datatable .datatable-footer .datatable-footer-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%; }
      .ngx-datatable .datatable-footer .selected-count .page-count {
        display: none !important;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
        flex: 1 1 40%;
      }

      .ngx-datatable .datatable-footer .page-count {
        display: none !important;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 20%;
                flex: 1 1 20%; }
      .ngx-datatable .datatable-footer .datatable-pager {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 80%;
                flex: 1 1 80%;
        text-align: right; }
        .ngx-datatable .datatable-footer .datatable-pager .pager,
        .ngx-datatable .datatable-footer .datatable-pager .pager li {
          padding: 0;
          margin: 0;
          display: inline-block;
          list-style: none;
        }
        .ngx-datatable .datatable-footer .datatable-pager .pager li, .ngx-datatable .datatable-footer .datatable-pager .pager li a {
          outline: none; }
        .ngx-datatable .datatable-footer .datatable-pager .pager li a {
          cursor: pointer;
          display: inline-block; }
        .ngx-datatable .datatable-footer .datatable-pager .pager li.disabled a {
          cursor: not-allowed; }

  /*# sourceMappingURL=index.map*/


  .ngx-datatable.material {
    background: #FFF;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    /**
  	 * Shared Styles
  	 */
    /**
  	 * Global Row Styles
  	 */
    /**
  	 * Header Styles
  	 */
    /**
  	 * Body Styles
  	 */
    /**
  	 * Footer Styles
  	 */ }
    .ngx-datatable.material.striped .datatable-row-odd {
      background: #eee; }
    .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
    .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group ion-icon {
      background-color: color($colors, primary) ;
      color: #fff  ;
      transition-property: background;
      transition-duration: .3s;
      transition-timing-function: linear; }
    .ngx-datatable.material:not(.cell-selection) .datatable-body-row:focus,
    .ngx-datatable.material:not(.cell-selection) .datatable-body-row:focus .datatable-row-group {
      background-color: #ddd;
    }
    .ngx-datatable.material.cell-selection .datatable-body-cell:hover,
    .ngx-datatable.material.cell-selection .datatable-body-cell:hover .datatable-row-group {
      background-color: #eee;
      transition-property: background;
      transition-duration: .3s;
      transition-timing-function: linear; }
    .ngx-datatable.material .empty-row {
      height: 50px;
      text-align: left;
      padding: .5rem 1.2rem;
      vertical-align: top;
      border-top: 0; }

    .ngx-datatable.material .datatable-header .datatable-row-left,
    .ngx-datatable.material .datatable-body .datatable-row-left {
      background-color: #FFF;
      background-position: 100% 0;
      background-repeat: repeat-y;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==); }
    .ngx-datatable.material .datatable-header .datatable-row-right,
    .ngx-datatable.material .datatable-body .datatable-row-right {
      background-position: 0 0;
      background-color: #fff;
      background-repeat: repeat-y;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQI12PQkNdi1VTQ5gbSwkAsDQARLAIGtOSFUAAAAABJRU5ErkJggg==); }
    .ngx-datatable.material .datatable-header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
      .ngx-datatable.material .datatable-header .datatable-header-cell {
        text-align: left;
        padding: .5rem 1.2rem;
        font-weight: 400;
        color: color($colors, letras);
        vertical-align: bottom; }
        .ngx-datatable.material .datatable-header .datatable-header-cell .datatable-header-cell-wrapper {
          position: relative; }
        .ngx-datatable.material .datatable-header .datatable-header-cell.longpress .draggable::after {
          transition: transform 400ms ease, opacity 400ms ease;
          opacity: .5;
          transform: scale(1); }
        .ngx-datatable.material .datatable-header .datatable-header-cell .draggable::after {
          content: " ";
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -30px 0 0 -30px;
          height: 60px;
          width: 60px;
          background: #eee;
          border-radius: 100%;
          opacity: 1;
          filter: none;
          transform: scale(0);
          z-index: 9999;
          pointer-events: none; }

      .ngx-datatable.material .datatable-header .resize-handle {
        border-right: solid 1px #eee; }
    .ngx-datatable.material .datatable-body .datatable-row-detail {
      background: #f5f5f5;
      padding: 10px; }
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
      text-align: left;
      padding: .5rem 1.2rem;
      vertical-align: top;
      border-top: 0;
      -webkit-transition: width 0.3s ease;
      transition: width 0.3s ease; }

    .ngx-datatable.material .datatable-footer {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      font-size: 16px; }
      .ngx-datatable.material .datatable-footer .page-count {
        line-height: 50px;
        height: 50px;
        padding: 0 1.2rem; }
      .ngx-datatable.material .datatable-footer .datatable-pager {
        margin: 0 10px; }
        .ngx-datatable.material .datatable-footer .datatable-pager li {
          vertical-align: middle; }
          .ngx-datatable.material .datatable-footer .datatable-pager li.disabled a {
            color: rgba(0, 0, 0, 0.26) !important;
            background-color: transparent !important; }
          .ngx-datatable.material .datatable-footer .datatable-pager li.active a {
            background-color: rgba(158, 158, 158, 0.2);
            font-weight: bold; }
        .ngx-datatable.material .datatable-footer .datatable-pager a {
          height: 22px;
          min-width: 24px;
          line-height: 22px;
          padding: 0 6px;
          border-radius: 3px;
          margin: 6px 3px;
          text-align: center;
          vertical-align: top;
          color: rgba(0, 0, 0, 0.54);
          text-decoration: none;
          vertical-align: bottom; }
          .ngx-datatable.material .datatable-footer .datatable-pager a:hover {
            color: rgba(0, 0, 0, 0.75);
            background-color: rgba(158, 158, 158, 0.2); }
        .ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-left,
        .ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-skip,
        .ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-right,
        .ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-prev {
          font-size: auto;
          line-height: 12px;
          padding: 0 3px; }

          .pager li a{
            font-size: auto !important;
          }

  .datatable-icon-filter:before {
    content: "\62";
  }
  .datatable-icon-collapse:before {
    content: "\61";
  }
  .datatable-icon-expand:before {
    content: "\63";
  }
  .datatable-icon-close:before {
    content: "\64";
  }
  .datatable-icon-up:before {
    content: "\53";
  }
  .datatable-icon-down:before {
    content: "\54";
  }
  .datatable-icon-sort:before {
    content: "\67";
  }
  .datatable-icon-done:before {
    content: "\68";
  }
  .datatable-icon-done-all:before {
    content: "\69";
  }
  .datatable-icon-search:before {
    content: "\6a";
  }
  .datatable-icon-pin:before {
    content: "\6b";
  }
  .datatable-icon-add:before {
    content: "\8B";
  }
  .datatable-icon-left:before {
    content: "\3C";
  }
  .datatable-icon-right:before {
    content: "\3E";
  }
  .datatable-icon-skip:before {
    content: "\BB";
  }
  .datatable-icon-prev:before {
    content: "\AB";
  }

 .detalleflecha{
     font-size: 240% !important;
    // margin: 0px 7px 0px 0px !important;
 }
  ion-icon:active {
    opacity: 0.5 !important;
  }

  .page-count{
    height:  32px !important;
  }
  .datatable-pager{
    margin-right: 10px  !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  .page-count{
    //display: none !important;
    margin-bottom: 20px;
  }

  .pager {
    width: 100% !important;
  }
  .pager a {
    color: black !important;
    float: left !important;
    //padding: 8px 16px!important;
    text-decoration: none !important;
    transition: background-color .3s !important;
    border: 1px solid #ddd;
    margin:0px !important;
    padding: 3px !important;
    font-size: 20px !important;
    width: 32px !important;
    height: 32px !important;
  }

  .pager li.active a {
      background-color: color($colors, primary)  !important;
      color: white !important;
  }
  .pager li.active {
      background-color: white  !important;
  }

  .datatable-body-cell div span{
    word-break: keep-all !important;
    overflow:hidden;
    table-layout:fixed;
  }
  .datatable-body-cell.active{
    background-color: rgba(0, 0, 0, 0.001)!important;
  }
  .buscar{
    width: 100%;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  input:focus {
    border: 2px solid color($colors, primary);
  }
  .sort-btn{
    font-family: 'Arrows' !important;
    font-size: 22px;
    color: color($colors, primary) ;
    padding-bottom: 5px;
  }
  span{
    font-weight:normal;
  }
  .datatable-header-cell-label{
    font-weight:bold;
  }
  .datatable-header{
    background: #f5f5f5;
  }

  ngx-datatable{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
