page-login {

a {
    color: #642EFE;
    text-decoration: none;
}
a:hover {
  opacity: 0.5;
}

p{
    color: #A4A4A4;
}
.boddylogin{
  background-color: color($colors, secondary);
  background-image: url("../assets/img/background.png");
  background-size: cover;
}

h3{
  color: color($colors, blanco);
}
h3 span {
  color: color($colors, logo)!important;
}

.item {
  background-color: transparent  !important;
  width: 90%;
  margin:auto;
  color: color($colors, letras-sidebar) !important;
}

.item ion-label{
  color: color($colors, letras-sidebar) !important;
}

.button-block {
    width: 80%;
    margin:auto;
}

}
