
  <ion-content padding="true" class="boddylogin">

    <div class="spacer" style="width: 300px; height: 20px;"></div>

    <div>
      <img src="assets/img/.png" style="width: 90%; height: auto; ">
    </div>

    <h3 id="login-heading1" style="text-align:center;">Bienvenido a <span></span></h3>

      <form #FormLogin="ngForm" (ngSubmit)="login(FormLogin)" name='login' validate>
         <ion-item >
           <ion-label floating>Correo</ion-label>
           <ion-input [(ngModel)]="FormLogin.username" name="username" type="email"  required></ion-input>
         </ion-item>
         <ion-item>
           <ion-label floating>Contraseña</ion-label>
           <ion-input [(ngModel)]="FormLogin.password" name="password" type="password" required></ion-input>
         </ion-item>
         <!--<ion-item class="boddyColor" >
           <ion-label  color="letras">No cerrar sesion</ion-label>
           <ion-checkbox  name="sesion" [(ngModel)]="sesion"></ion-checkbox>
         </ion-item>-->
          <button ion-button block color="primary" [disabled]="!FormLogin.form.valid" type="submit"  >Ingresar</button>
      </form>


    <button ion-button block color="facebook"  (click)="loginFAcebook()"><ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;Ingresa con Facebook</button>


    <div class="spacer" style="width: 300px; height: 10px;"></div>

    <div style="text-align:center;">
      <a  (click)="loadRecuPass()">¿Olvidaste tu contraseña?</a>
    </div>

    <div class="spacer" style="width: 300px; height: 10px;"></div>

    <div style="text-align:center;">
      <p>¿No posees una cuenta?</p>
      <button ion-button  round outline color="letras-sidebar"  (click)="loadCrearCuenta()" >Crear Cuenta</button>
    </div>

  </ion-content>
