page-perfil {
.card h5{
  color: color($colors, letras) !important;
}
.card {
    margin: 10px 0px 10px 0px;
    width: 100%;
    border-radius: 5px;
    //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.item-boton{
  height: 30px !important;
}

.center {
    margin: auto;
    width: 50%;
    //border: 1px solid green;
    padding: 10px;
}
p{
 color: color($colors, letras) !important;
 font-size: 14px;
}



}
