<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Perfil</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding="true" class="boddy" >

  <ion-card>
    <ion-card-header>
      <h5>Detalles del Perfil</h5>
    </ion-card-header>
    <ion-card-content>

      <ion-list >
        <ion-list-header >
            <img [src]="this.session.getImagenPerfil()" onError="https://s3.amazonaws.com/logos/logo-200.png" style="border-radius: 30%; width: 50%; height: auto; " class="center" />
        </ion-list-header>
        <ion-item class="item-boton" >
            <p style="text-align:center;"><strong>{{this.session.getNombre()}} {{this.session.getApellido()}}</strong></p>
            <p style="text-align:center;">{{this.session.getProvincia()}}, {{this.session.getComuna()}}</p>
        </ion-item>
        <ion-item class="item-boton" >
          <button ion-button block color="primary" (click)="presentModalEditar()"><ion-icon name="md-create" ></ion-icon>&nbsp;&nbsp;Editar</button>
        </ion-item>
        <ion-item class="item-boton" >
          <button ion-button block color="perfil" (click)="cambiarFoto()"><ion-icon name="images" ></ion-icon>&nbsp;&nbsp;Cambiar imagen perfil</button>
        </ion-item>
        <ion-item class="item-boton" >
          <button ion-button block color="emergencia" (click)="presentModalContacto()"><ion-icon name="medical"></ion-icon>&nbsp;&nbsp;Contacto de emergencia</button>
        </ion-item>
        <ion-item class="item-boton" >
          <button ion-button block color="rojos"  (click)="presentModalContrasena()" ><ion-icon name="finger-print"></ion-icon>&nbsp;&nbsp;Cambiar contraseña</button>
        </ion-item>
        <ng-template [ngIf]="!session.getEsUsuario()">
          <ion-item class="item-boton" >
            <button ion-button block color="rojos" (click)="presentConfirmSalirComunidad()" ><ion-icon name="exit"></ion-icon>&nbsp;&nbsp;Salir de la comunidad actual</button>
          </ion-item>
        </ng-template>



      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
