<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->


    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <!-- Optionally, you can add icons to the links 
            <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li> -->

            <div *ngIf="router.url=='/admin/home';then hwhitclass else hnotclass"></div>
              <ng-template #hwhitclass>
                  <li class="active"><a routerLink="home"><i class="fa fa-home"></i> <span>Home</span></a></li>
              </ng-template>
              <ng-template #hnotclass>
                  <li><a routerLink="home"><i class="fa fa-home"></i> <span>Home</span></a></li>
              </ng-template>

              <div *ngIf="router.url=='/admin/services';then swhitclass else snotclass"></div>
              <ng-template #swhitclass>
                  <li  class="active"><a routerLink="services"><i class="fa fa-calendar"></i> <span>Services</span></a></li>
              </ng-template>
              <ng-template #snotclass>
                  <li><a routerLink="services"><i class="fa fa-calendar"></i> <span>Services</span></a></li>
              </ng-template>

    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
