page-ingresar-comunidad {
  .alert-warning {
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;
  }
  .alert {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
  }
  .blanco-bg h3{
    color:color($colors, letras);
    font-size: 15px;
  }
  .blanco-bg p{
    color:color($colors, letras);
  }
}
