
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Ingresar a Comunidad</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ng-template [ngIf]="session.getEsUsuario()">

    <ng-template [ngIf]="enviada">
      <ng-template [ngIf]="!organismo">
        <div class="widget blanco-bg">
          <h3>Bienvenido a !</h3>
          <div class="alert alert-warning">
            <p>
              Ud. ya tiene una solicitud pendiente en {{solicitud.organismo}}, debe esperar a que esta sea atendida por el administrador correspondiente. Para cancelar su solicitud haga click 
              <button ion-button color="danger" (click)="presentConfirm()">aquí</button>
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="organismo">
          <div class="widget blanco-bg">
            <h3>Bienvenido a !</h3>
            <div class="alert alert-warning">
              <p>
                Su solicitud en  {{solicitud.organismo}} ha sido aprobada.
              </p>
            </div>
          </div>
        </ng-template>
    </ng-template>
    <ng-template [ngIf]="!enviada">
        <ng-template [ngIf]="organismo">
            <div class="widget blanco-bg">
              <h3>Bienvenido a !</h3>
              <div class="alert alert-warning">
                <p>
                  Su solicitud ha sido aprobada, en unos minutos tu perfil se actualizará.
                </p>
              </div>
            </div>
        </ng-template>
        <ng-template [ngIf]="!organismo">
            <div class="widget blanco-bg">
                <h3>Bienvenido a !</h3>
                <div class="alert alert-warning">
                  <p>
                    Selecciona la comunidad a la cual quieres pertenecer
                  </p>
                  <form  #FormSignUp="ngForm" (ngSubmit)="MandarSolicitud(FormSignUp)" name='createUser' validate>
                    <ion-list id="signup-list" no-lines>
                      <ion-item>
                          <ion-label color="primary" floating>Seleccione una Comunidad</ion-label>
                          <ion-select  [(ngModel)]="FormSignUp.box"  name="box"   multiple="false"  required>
                            <ion-option *ngFor="let box of boxs" [value]="box.id">{{box.nombre}}</ion-option>
                          </ion-select>
                        </ion-item>
                    </ion-list>
                    <button ion-button block color="primary" [disabled]="!FormSignUp.form.valid" type="submit" >Enviar</button>
                  </form>
                </div>
              </div>
        </ng-template>

    </ng-template>
  </ng-template>
  
</ion-content>
